ion-row {
    width: 100%;
}

.img-producto {
    border-radius: 10px;
}

.subtitle-text {
    font-size: 12px;
    color: #a1a1a1 !important;
}

.custom-padding {
    padding: 0px 15px 0px 15px;
}

.big-size {
    font-size: 20px;
}

ion-row {
    color: var(--ion-color-dark)
}