<app-detail-header title="Recuperar contraseña" isModal="true"></app-detail-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="recoverPassword()">
    <ion-grid class="pl-20 pr-20">
      <ion-row>
        <ion-col size="12" class="mt-10 mb-20 text-center">
          <ion-label>Hemos enviado un</ion-label>
          <ion-label color="primary"> código temporal</ion-label>
          <ion-label> a tu correo eléctronico</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item class="input-text mb-15">
            <ion-input type="text" [(ngModel)]="recover.clave_temporal" name="temp" placeholder="Código Temporal"
              required></ion-input>
          </ion-item>
          <ion-item class="input-text mb-15">
            <ion-input type="password" [(ngModel)]="recover.contrasena" name="new" placeholder="Nueva Contraseña"
              required></ion-input>
          </ion-item>
          <ion-item class="input-text">
            <ion-input type="password" [(ngModel)]="recover.confirmar" name="confirm" placeholder="Confirmar Contraseña"
              required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="mt-10">
          <ion-button color="primary" expand="block" type="submit" [disabled]="!form.valid" strong>
            Actualizar contraseña</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>